<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>タスク管理アプリケーション</title>
</head>
<body>
  <h1>タスク管理アプリケーション</h1>
  <div class="task_form">
    <h2>タスクの登録</h2>

    <form action="/add">
      <label for="task">タスク</label>
      <input type="text" name="task" id="task">

      <label for="deadline">期限</label>
      <input type="date" name="deadline" id="deadline">

      <input type="submit" value="登録">
    </form>

    <div class="tasklist">
      <h2>現在のタスク一覧</h2>

      <table border="1" style="border-collapse: collapse;">
        <thead>
          <tr>
            <th class="hidden">ID</th>
            <th>タスク</th>
            <th>期限</th>
            <th>状態</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="task : ${tasklist}">
            <td class="hidden" th:text="${task.id}"></td>
            <td th:text="${task.task}"></td>
            <td width="100px" th:text="${task.deadline}"></td>
            <td width="50px" th:text="${task.done} ? '完了' : '未完了'"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
